*{
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 1px  solid white;

    display: flex;
    align-items: center;
    justify-content: center;
}